# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
children_table = data.pivot_table(index='children', values='debt', aggfunc='mean')
#1 - #создаём сводную таблицу по медианному значению колонки задолженности с сортировкой по количеству детей
#в итоге получается сводная таблица с дробями

def percent(value):
    value *= 100
    return f'{value:.3}%'
#2 - для понятного вывода значений на экран в виде процентов создаём функцию

children_table['percent'] = children_table['debt'].apply(percent)
#3 - добавляем колонку с процентами в сводную таблицу

children_table = children_table.sort_values(by='percent', ascending=False)
#4 - располагаем значения по убыванию

children_table
#выводим на экран

# Ваш код будет здесь. Вы можете создавать новые ячейки.

              debt percent
children
4         0.097561   9.76%
2         0.094542   9.45%
1         0.092346   9.23%
3         0.081818   8.18%
0         0.075438   7.54%
5         0.000000    0.0%

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

**Вывод:** 
1-3 место - наибольший процент задолженности по кредитам у семей с 4-мя, 2-мя и 1 ребёнком. Это возможно по двум причинам:
1) слишком большие расходы и низкие доходы => нехватка денег для выплат в срок - это более возможно в семьях с 4-мя детьми, так как в них наиболее вероятны большие расходы
2) безответственный подход к своей кредитной истории - это более возможно в семьях с 1-м и 2-мя детьми, так как они, возможно, берут кредиты на разовые большие покупки

4 место - семьи с 3-мя детьми. Значение их задолженности на 1,05%-1,58% меньше, чем в первой тройке. Возможные причины:
1)в семьях с тремя детьми расходы меньше, чем в семьях с 4-мя детьми => процент задолженности меньше,
но расходы всё ещё большие => процент задолженности всё ещё большой
2)более ответственный подход к своей кредитной истории, чем у семей с 1-м и 2-мя детьми, так как в отличие от них кредиты берутся не только на разовые большие покупки

5 место - люди без детей. Значение задолженности отличается от 4-го места на 0,64%. Возможные причины:
1)слишком большие расходы и низкий доход => отсутствие возможности выплаты кредита в срок
2)безответственное отношение к кредитной истории

6 место - семьи с 5-ю детьми. Значение задолженности отличается от 5-го места на 7,54%. Самый низкий показатель в рейтинге. Возможные причины:
1) большие доходы => возможность выплаты кредита в срок
2) ответственное отношение к кредитной истории, так как она влияет на вероятность выдачи кредитов в будущем. Снижение этой вероятности влечёт слишком большой риск.

ВЫВОД: Значение задолженности меняется от категории к категории на 0,64%-7,54%. Разница между наибольшим и наименьшим значениями составляет 9,76%. Из этого можно сделать вывод, что количество детей сильно влияет на возврат кредита в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
family_table = data.pivot_table(index='family_status', values='debt', aggfunc='mean')
#1 - #создаём сводную таблицу по медианному значению колонки задолженности с сортировкой по семейному положению
#в итоге получается сводная таблица с дробями

family_table['percent'] = family_table['debt'].apply(percent)
#2 - добавляем колонку с процентами в сводную таблицу

family_table = family_table.sort_values(by='percent', ascending=False)
#3 - располагаем значения по убыванию

family_table
#выводим на экран

# Ваш код будет здесь. Вы можете создавать новые ячейки.

                           debt percent
family_status
Не женат / не замужем  0.097639   9.76%
гражданский брак       0.093130   9.31%
женат / замужем        0.075606   7.56%
в разводе              0.070648   7.06%
вдовец / вдова         0.066246   6.62%

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

**Вывод:** 
1-2 места - не женат/не замужем и гражданский брак, показатель - выше 9%
3-4 места - женат/замужем и в разводе, показатель - выше 7%
5 место - вдовец/вдова, показатель - выше 6%

ВЫВОД: Значение задолженности - от 0,44% до 1,75%. Разница между наибольшим и наименьшим значениями - 3,14%. Из этого можно сделать вывод, что семейное положение влияет на возврат кредита в срок.
Можно заметить закономерность - категория людей, состоящих или состоявших в официальном браке, имеет заметно меньший процент задолженности по сравнению с категорией не состоящих.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
income_table = data.pivot_table(index='total_income_category', values='debt', aggfunc='mean')
#1 - #создаём сводную таблицу по медианному значению колонки задолженности с сортировкой по уровню дохода
#в итоге получается сводная таблица с дробями

income_table['percent'] = income_table['debt'].apply(percent)
#2 - добавляем колонку с процентами в сводную таблицу

income_table = income_table.sort_values(by='percent', ascending=False)
#3 - располагаем значения по убыванию

income_table
#выводим на экран

# Ваш код будет здесь. Вы можете создавать новые ячейки.# Ваш код будет здесь. Вы можете создавать новые ячейки.

                           debt percent
total_income_category
E                      0.090909   9.09%
C                      0.084982    8.5%
A                      0.080000    8.0%
B                      0.070602   7.06%
D                      0.060172   6.02%

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

**Вывод:** 
1) наибольший процент задолженности имеет категория 'E' с самым низким доходом. Возможная причина - отсутствие средств для своевременных выплат кредита
2) 2, 3, 4 места - категории 'C','A','B' - категория людей, имеющих от среднего до высокого заработка.
3) наименьший процент задолженность имеет категория 'D' с низким доходом. Возможная причина - ответственный подход к кредитной истории для большей вероятности получения новых кредитов.

ВЫВОД: Разница показателей задолженности между категориями - от 0,5% до 1,04%. Разница между наибольшим и наименьшим показателями - 3,07%. Из этого можно сделать вывод о том, что уровень дохода влияет на возврат кредита в срок.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
purpose_table = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='mean')
#1 - #создаём сводную таблицу по медианному значению колонки задолженности с сортировкой по цели кредита
#в итоге получается сводная таблица с дробями

purpose_table['percent'] = purpose_table['debt'].apply(percent)
#2 - добавляем колонку с процентами в сводную таблицу

purpose_table = purpose_table.sort_values(by='percent', ascending=False)
#3 - располагаем значения по убыванию

purpose_table
#выводим на экран# Ваш код будет здесь. Вы можете создавать новые ячейки.

                              debt percent
purpose_category
операции с автомобилем    0.093480   9.35%
получение образования     0.092528   9.25%
проведение свадьбы        0.079118   7.91%
операции с недвижимостью  0.072551   7.26%

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

**Вывод:** 
1 и 2 места - операции с автомобилем и получение образования, показатель - больше 9%
3 и 4 места - проведение свадьбы и операции с недвижимостью, показатель - больше 7%

ВЫВОД: Разница между категориями - от 0,1% до 1,34%. Разница между наибольшим и наименьшим показателями - 2,09%. Из этого можно сделать вывод о том, что цели кредита влияют на возврат кредита в срок.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

*Ответ:* В соответствии с данными, полученными в Задании 4, пропуски были в столбцах 'общий трудовой стаж в днях' и 'ежемесячный доход', причём количество пропущенных значений в обоих столбцах совпадает. Возможные причины:

- искажение данных. При выгрузке данных информация о занятости определённой категории людей удалилась.

- среди заёмщиков присутствует категория людей, которые не работали и, соответственно, не получали зарплату в определённый промежуток времени. Н-р, люди на больничном или женщины в декрете.

- среди заёмщиков присутствует категория безработных людей, не имеющих официальный доход.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

*Ответ:* Медианное значение помогает получить более достоверные данные, так как в данных могут присутствовать аномальные данные, сильно смещающие итоговый результат.

### Шаг 4: общий вывод.

In [26]:
category = ['column', 'min', 'max', 'min_max']
info = [
    ['количество детей', 0.64, 7.54, 9.76],
    ['семейное положение', 0.44, 1.75, 3.14],
    ['уровень дохода', 0.5, 1.04, 3.07],
    ['цель кредита', 0.1, 1.34, 2.09]
]
conclusion = pd.DataFrame(data=info , columns=category)
display(conclusion.sort_values('min', ascending=False))
display(conclusion.sort_values('max', ascending=False))
conclusion.sort_values('min_max', ascending=False)

               column   min   max  min_max
0    количество детей  0.64  7.54     9.76
2      уровень дохода  0.50  1.04     3.07
1  семейное положение  0.44  1.75     3.14
3        цель кредита  0.10  1.34     2.09

               column   min   max  min_max
0    количество детей  0.64  7.54     9.76
1  семейное положение  0.44  1.75     3.14
3        цель кредита  0.10  1.34     2.09
2      уровень дохода  0.50  1.04     3.07

               column   min   max  min_max
0    количество детей  0.64  7.54     9.76
1  семейное положение  0.44  1.75     3.14
2      уровень дохода  0.50  1.04     3.07
3        цель кредита  0.10  1.34     2.09

<div class="alert alert-info" style="border:solid purple 2px; padding: 20px; background-color: #e6d2f2; color: #4b0082;">

**Общий вывод**

Для подведения общего итога сделаю предположение о том, что чем больше разница показателей задолженности между категориями, тем сильнее влияет на эти показатели критерий, по которому были выделены эти категории. Для этого я рассчитала разницу между категориями в процентах и представили критерии в порядке убывания по величине разницы.

Критерий 'количество детей' во всех рейтингах стоит на первом месте, из чего можно сделать вывод о том, что количество детей очень сильно влияет на возврат кредита в срок.

Критерий 'семейное положение' занимает 2 или 3 места, из этого следует, что семейное положение сильно влияет на возврат кредита в срок.

Критерий 'уровень дохода' занимает 2, 3 или 4 места, из этого следует, что уровень дохода средне влияет на возврат кредита в срок.

Критерий 'цель кредита' занимает 3 или 4 места, из этого следует, что цель кредита слабее всех влияет на возврат кредита в срок.